/* Notification.css */
.notification {
  padding: 10px;
  background-color: #ffcccc;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification span {
  color: #a94442;
  font-weight: bold;
}
