.task-list {
  list-style-type: none;
  padding: 0;
}
.task-list li {
  background-color: var(--accent-color);
  border-radius: 10px;
  margin: 0.5rem 0;
  padding: 2rem;
  transition: background-color 0.3s;
}

.task-list li:hover {
  background-color: var(--primary-color);
}